html, body{
    height: 100%;
    width:100%;
    overflow: hidden;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(250, 243, 221, 1);

  }

h1, h2, h3 {
    color: rgba(255, 166, 158, 1);
}

.ml3 {
    font-weight: 900;
    font-size: 3.5em;
    position: absolute;
    z-index: -1;
  }

#wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

#inner {
    width: 50%;
    max-width: 500px;
    height: 50%;
    max-height: 400px;
    margin: auto;
    padding: 0 20px;
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cat {
    position: absolute;
    animation: motion linear infinite both;
    transition: transform 1.5s linear;
    z-index: 1;
}

@media (max-width: 600px) {
    .cat {
        height: 100px;
        width: auto;
    }
}

@media (min-width: 601px) {
    .cat {
        height: 200px;
        width: auto;
    }
}

.cat:hover {
    cursor: pointer;
    animation-play-state:paused;
}

@keyframes motion{
    from{ transform: translateY(0)}
    to{ transform: translateY(1500px)}
}

#cat1 {
    top: -300px;
    left: 8vw;
    animation-duration: 6s;
}

#cat2 {
    top: -300px;
    left: 16vw;
    animation-duration: 4s;
    animation-delay: 2s;
}

#cat3 {
    top: -300px;
    left: 24vw;
    animation-duration: 7s;
    animation-delay: 2s;
}

#cat4 {
    top: -300px;
    left: 32vw;
    animation-duration: 6s;
    animation-delay: 4s;
}

#cat5 {
    top: -300px;
    left: 40vw;
    animation-duration: 8s;
    animation-delay: 3s;
}

#cat6 {
    top: -300px;
    left: 48vw;
    animation-duration: 5s;
    animation-delay: 2s;
}

#cat7 {
    top: -300px;
    left: 56vw;
    animation-duration: 7s;
    animation-delay: 10s;
}

#cat8 {
    top: -300px;
    left: 64vw;
    animation-duration: 3s;
    animation-delay: 8s;
}

#cat9 {
    top: -300px;
    left: 72vw;
    animation-duration: 9s;
    animation-delay: 3s;
}

#cat10 {
    top: -300px;
    left: 80vw;
    animation-duration: 5s;
    animation-delay: 5s;
}
