/* Coolors Exported Palette - coolors.co/ffa69e-faf3dd-b8f2e6-aed9e0-5e6472 */

/* HSL */
$color1: hsla(5%, 100%, 81%, 1);
$color2: hsla(46%, 74%, 92%, 1);
$color3: hsla(168%, 69%, 84%, 1);
$color4: hsla(188%, 45%, 78%, 1);
$color5: hsla(222%, 10%, 41%, 1);

/* RGB */
$color1: rgba(255, 166, 158, 1);
$color2: rgba(250, 243, 221, 1);
$color3: rgba(184, 242, 230, 1);
$color4: rgba(174, 217, 224, 1);
$color5: rgba(94, 100, 114, 1);