html, body {
    margin: 0;
    padding: 0;
    text-align: center;
}

#wrapper {
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#welcome {
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}

h1 {
    width: 100%;
}

@media (min-width: 600px) {
    #welcome {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    }   
}

.card {
    width: 200px;
}

.btn {

}